h1 {
    text-align: center;
}

* {
    background-color: #E9C5AD;
}


h2 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

.pendidikan {
    text-align: center;
}

.Keterampilan {
    text-align: center;
}

.Hobi {
    text-align: center;
}